/node_modules/
package-lock.json
tsconfig.json
yarn-error.log
/dist/
.vscode
.DS_Store
.idea
*.iml
*.log
*.swp
*.swo
/renderer/dist
/renderer/node_modules
/renderer/package-lock.json
/renderer/.vscode
/renderer/.DS_Store
/renderer/.idea
/renderer/*.iml
/renderer/*.log
/renderer/*.swp
/renderer/*.swo
/renderer/tsconfig.json
/renderer/yarn-error.log
/renderer/.env
/renderer/.env.local
/renderer/.env.development
/renderer/.env.production
node_modules
